<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @date_range.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @date_range.end %>
</p>

<%= link_to 'Edit', edit_date_range_path(@date_range) %> |
<%= link_to 'Back', date_ranges_path %>
