<main class="row align-middle" style="height:75%">
  <div class="column card">

    <h1>Welcome to <strong>ND-Menu</strong>!</h1>

    <%= form_for @user, url: login_path do |f| %>
      <div class="row">
        <div class="medium-5 columns">
          <%= f.label :email %>
          <%= f.email_field :email %>
        </div>
        <div class="medium-5 columns">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>
        <div class="medium-2 columns">
          <label>&nbsp;</label><!--fix spacing-->
          <%= f.submit 'Login', :class=>'primary button' %>
        </div>
      </div>
    <% end %>

    <p><%= link_to 'Need an account?', signup_path %></p>

    <% if flash[:message] %>
      <div class="<%= flash[:class] %> callout">
        <%= flash[:message] %>
      </div>
    <% end %>

  </div>
</main>
