<%= form_for eatery do |f| %>
  <% if eatery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(eatery.errors.count, "error") %> prohibited this eatery from being saved:</h2>

      <ul>
      <% eatery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

    <div class="medium-6 columns">

        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>

        <div class="field">
          <%= f.label :description %>
          <%= f.text_area :description %>
        </div>

    </div>
    <div class="medium-6 columns">

        <div class="field">
          <%= f.label :location %>
          <%= f.text_field :location %>
        </div>

        <div class="field">
          <%= f.label :hours %>
          <%= f.text_field :hours %>
        </div>

    </div>
  </div>


  <div class="actions">
    <%= f.submit 'Update', class: 'success button' %>
  </div>
<% end %>
