<p id="notice"><%= notice %></p>

<div class="row">
  <div class="column card">

    <p>
      <strong>Name:</strong>
      <%= @eatery.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @eatery.description %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @eatery.location %>
    </p>

    <p>
    	<strong>Menu Items:</strong>
    	<ul>
    		<% @eatery.food_items.each do | food_item | %>
    			<li><%= food_item.name %> <%= food_item.full_price %></li>
    		<% end %>
    	</ul>
    </p>
    <%= link_to 'Edit', edit_eatery_path(@eatery) %> |
    <%= link_to 'Back', eateries_path %>

  </div>
</div>
