<nav class="top-bar">

  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">
        <%= link_to home_path, class: 'no-decoration' do %>
          <span class="float-right"><i class="fa fa-cutlery"></i></span>
          ND Menu&nbsp;&nbsp;
        <% end %>
      </li>
      <li><%= link_to 'Eateries', eateries_path %></li>
      <li><%= link_to 'Food Stuffs', food_items_path %></li>
      <% if session[:user_id] %>
        <li><%= link_to 'Ratings', ratings_path %></li>
      <% end %>
      <% if session[:user_id] %>
        <li><%= link_to "Logout", logout_path %></li>
      <% end %>
    </ul>
  </div>

  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search (WIP)"></li>
      <li>
        <%= link_to search_path, keyword: @keyword do %>
          <button class="secondary button">
            <i class="fa fa-search"></i>
          </button>
        <% end %>
      </li>
    </ul>
  </div>

</nav>

